---
import { QuillDeltaToHtmlConverter } from "quill-delta-to-html";

import Layout from "../layouts/BaseLayout.astro";
const { id } = Astro.params;

// Firebase
import firebase from "../lib/init-firebase";
import { getFirestore } from "firebase/firestore";
import { getArticle } from "../lib/article-firebase-helper";
const db = getFirestore(firebase);
const article = await getArticle({ db, docName: id });

function quillDeltaToHtml(delta) {
  const html = new QuillDeltaToHtmlConverter(delta, {}).convert();
  return html;
}
---

<Layout title={article.title}>
    <div set:html={quillDeltaToHtml(article.description)}>
        
    </div>
</Layout>
