---
import { format } from "date-fns";
import { QuillDeltaToHtmlConverter } from "quill-delta-to-html";

import Layout from "../layouts/BaseLayout.astro";
const { id } = Astro.params;

// Firebase
import firebase from "../lib/init-firebase";
import { getFirestore } from "firebase/firestore";
import { getArticle } from "../lib/article-firebase-helper";
const db = getFirestore(firebase);
const article = await getArticle({ db, docName: id });

function quillDeltaToHtml(delta) {
  const html = new QuillDeltaToHtmlConverter(delta, {
    customTagAttributes: (op) => {
      // Setting alt attributes
      if(op?.insert?.type === 'image' && op?.attributes?.alt){
        return {
          alt: op.attributes.alt
        }
      }
    }
  }).convert();
  return html;
}
---

<Layout title={article.title}>
  <div class="px-16 py-8">
    <h1 class="text-3xl">{article.title}</h1>
    <div class="text-gray-400 mt-2">
      {format(new Date(article.updated_at.toDate()), "do MMM yyyy")}
    </div>
    <br />
    <div set:html={quillDeltaToHtml(article.description)}></div>
  </div>
</Layout>
