---
import Layout from "../layouts/BaseLayout.astro";

// Components
import RecentArticles from "../components/RecentArticles.astro";
import Desc from "../components/Desc.astro";

import { initializeApp } from 'firebase/app';
import { getAuth, signInWithEmailAndPassword } from "firebase/auth";

// TODO: Replace the following with your app's Firebase project configuration
const firebaseConfig = {
  apiKey: "AIzaSyDwE63wdD4uivIa15a0QNJlB7l7MB3tbjs",
  authDomain: "web-zfunx.firebaseapp.com",
  projectId: "web-zfunx",
  storageBucket: "web-zfunx.appspot.com",
  messagingSenderId: "776028039184",
  appId: "1:776028039184:web:cea01e70696941eaaa0295",
  measurementId: "G-VR8HT7L5YP"
};

const app = initializeApp(firebaseConfig);
const auth = getAuth(app)

await signInWithEmailAndPassword(auth, 'vikas@mail.com', '12345678')
  .then((userCredential) => {
    // Signed in 
    const user = userCredential.user;
    console.log('user', user);
    
    // ...
  })
  .catch((error) => {
    const errorCode = error.code;
    const errorMessage = error.message;
  });


---

<Layout>
  <div class="flex">
    <!-- List of Articles -->
    <div class="basis-2/3 px-16 py-8 flex flex-col items-center">
        <div class="mb-7 mx-2">
          <Desc />
        </div>
        <RecentArticles />
    </div>

	<!-- Aside -->
    <div class="basis-1/3 bg-yellow-300 border">dgfg</div>
  </div>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1.5rem;
    max-width: 60ch;
  }
  h1 {
    font-size: 3rem;
    font-weight: 800;
    margin: 0;
  }
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
  .instructions {
    line-height: 1.6;
    margin: 1rem 0;
    border: 1px solid rgba(var(--accent), 25%);
    background-color: white;
    padding: 1rem;
    border-radius: 0.4rem;
  }
  .instructions code {
    font-size: 0.875em;
    font-weight: bold;
    background: rgba(var(--accent), 12%);
    color: rgb(var(--accent));
    border-radius: 4px;
    padding: 0.3em 0.45em;
  }
  .instructions strong {
    color: rgb(var(--accent));
  }
  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 1rem;
    padding: 0;
  }
</style>
