---
const defaultImg = 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNM+Q8AAc0BZX6f84gAAAAASUVORK5CYII='
---
  <div
    class="border-2 border-b-4 border-gray-200 rounded-xl hover:bg-gray-50 bg-white cursor-pointer"
  >
    <div class="grid grid-cols-4 p-5 gap-y-2">
      <!-- Profile Picture -->
      <div>
        <img
          src={Astro.props.img ?? defaultImg}
          class="w-32 h-full object-cover rounded-lg"
        />
      </div>

      <!-- Description -->
      <div class="col-span-3 md:col-span-3 ml-4">
        <p class="text-gray-600 font-bold text-xl">{Astro.props.title}</p>
        <p class="text-gray-400">{Astro.props.description}</p>
        <p class="text-gray-400 mt-1 text-sm">{Astro.props.updated_at}</p>
      </div>
    </div>
  </div>
