<div>
  <div
    class="max-w-[36rem] border-2 border-b-4 border-gray-200 rounded-xl hover:bg-gray-50 bg-white"
  >
    <div class="grid grid-cols-4 p-5 gap-y-2">
      <!-- Profile Picture -->
      <div>
        <img
          src="https://picsum.photos/seed/2/200/200"
          class="w-32 h-full object-cover rounded-lg"
        />
      </div>

      <!-- Description -->
      <div class="col-span-3 md:col-span-3 ml-4">
        <p class="text-gray-600 font-bold text-xl">[Beginner] Light Discussion</p>
        <p class="text-gray-400">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas, culpa!</p>
        <p class="text-gray-400 mt-1 text-sm">Mar 13, 2022</p>
      </div>
    </div>
  </div>
</div>
