---
import { format } from "date-fns";
import { QuillDeltaToHtmlConverter } from "quill-delta-to-html";

import Article from "../components/Article.astro";
const { articles } = Astro.props;

function quillDeltaToText(delta) {
  const html = new QuillDeltaToHtmlConverter(delta, {}).convert();
  const text = html.replace(/(<([^>]+)>)/gi, "");
  return text;
}

function getFirstImg(delta){
  const firstImgOp = delta.find(op => op?.insert?.image);
  if(firstImgOp){
    return firstImgOp.insert.image
  }else{
    return null
  }
}
---

<div>
  {
    articles.map((article) => (
      <div class="mb-6">
        <Article
          id={article.id}
          img={getFirstImg(article.description)}
          title={article.title}
          updated_at={format(
            new Date(article.updated_at.toDate()),
            "do MMM yyyy"
          )}
          description={quillDeltaToText(article.description)}
        />
      </div>
    ))
  }
</div>
