---
import Article from "../components/Article.astro";
import { format } from 'date-fns'

const {articles} = Astro.props;
---

<div>
  {
    articles.map((article) => (
      <div class="mb-6">
        <Article 
        title={article.title}
        // updated_at={article.updated_at.toDate()}
        updated_at={format(new Date(article.updated_at.toDate()), 'do MMM yyyy')}
        description={article.description.replace(/(<([^>]+)>)/gi, "")} />
      </div>
    ))
  }
</div>
